<ion-menu [content]="mycontent">

  <ion-content>
    <ion-list>
      <button ion-item menuClose (click)="openPage(rentalYieldPage)">
        <ion-icon name="calculator"></ion-icon>
        Rental Yield
      </button>
      <button ion-item menuClose (click)="openPage(mortgageCostPage)">
        <ion-icon name="home"></ion-icon>
        Mortgage Cost
      </button>
      <button ion-item menuClose (click)="openPage(mortgageIntOnlyPage)">
        <ion-icon name="pie"></ion-icon>
        Interest Only Mortgage
      </button>
      <button ion-item menuClose (click)="openPage(mortgageCompPage)">
        <ion-icon name="analytics"></ion-icon>
        Mortgage Comparison
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
