<ion-header>
  <ion-navbar>
    <ion-title>
      Gross Yield per Annum
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="Title">
    {{outputYieldValue}}
  </p>
  <div class="radio-wrapper">
    <div class="inputGroup">
      <input id="rental-yield-monthly" name="rental-yield" type="radio" checked="checked" (change)="rentFrequency('monthly')" />
      <label class="radio1" for="rental-yield-monthly">Monthly Rent</label>
    </div>
    <div class="inputGroup">
      <input id="rental-yield-weekly" name="rental-yield" type="radio" (change)="rentFrequency('weekly')" />
      <label class="radio2" for="rental-yield-weekly">Weekly Rent</label>
    </div>
  </div>

  <div class="Input">
    <input type="tel" class="Input-text" placeholder="Purchase Price" (keydown.enter)="$event.target.blur()"
      [(ngModel)]="price" (ngModelChange)="priceOnChange()" [textMask]="{mask: currencyMask}" />
    <label for="input" class="Input-label">Purchase Price</label>
  </div>

  <div class="Input">
    <input type="tel" class="Input-text" placeholder="Rent per {{rentFrequencyValue}}" (keydown.enter)="$event.target.blur()"
      [(ngModel)]="rent" (ngModelChange)="rentOnChange()" [textMask]="{mask: currencyMask}" />
    <label for="input" class="Input-label">Rent per {{rentFrequencyValue}}</label>
  </div>

</ion-content>
