<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Mortgage Comparison
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p class="Title" *ngIf="!calculatePaymentValue">
    $ --
  </p>
  <div *ngIf="calculatePaymentValue">
    <p class="Title title-pre-text" *ngIf="interestRateOne > interestRateTwo">
      Option 2 is cheaper by
    </p>
    <p class="Title title-pre-text" *ngIf="interestRateOne < interestRateTwo">
      Option 1 is cheaper by
    </p>
    <p class="Title">
      {{calculatePaymentValue | currency:'$ ':'code':'1.0-0'}}
    </p>
  </div>



  <div class="flex-input-wrapper">
    <div class="Input top-input">
      <input type="tel" class="Input-text" placeholder="Interest Option 1" (keydown.enter)="$event.target.blur()"
        [(ngModel)]="interestRateOne" (ngModelChange)="interestRateOneOnChange()" (blur)="inputOnBlur()"
        [textMask]="{mask: percentageMask}" />
      <label for="input" class="Input-label">Interest Option 1</label>
    </div>

    <div class="Input top-input">
      <input type="tel" class="Input-text" placeholder="Interest Option 2" (keydown.enter)="$event.target.blur()"
        [(ngModel)]="interestRateTwo" (ngModelChange)="interestRateTwoOnChange()" (blur)="inputOnBlur()"
        [textMask]="{mask: percentageMask}" />
      <label for="input" class="Input-label">Interest Option 2</label>
    </div>
  </div>

  <div class="radio-wrapper">
    <div class="inputGroup">
      <input id="mortgage-cost-monthly" name="mortgage-cost" type="radio" checked="checked"
        (change)="paymentFrequencyChange('monthly')" />
      <label class="radio1" for="mortgage-cost-monthly">Monthly Payment</label>
    </div>
    <div class="inputGroup">
      <input id="mortgage-cost-weekly" name="mortgage-cost" type="radio" (change)="paymentFrequencyChange('weekly')" />
      <label class="radio2" for="mortgage-cost-weekly">Weekly Payment</label>
    </div>
  </div>

  <div class="Input">
    <input type="tel" class="Input-text" placeholder="Purchase Price" (keydown.enter)="$event.target.blur()"
      [(ngModel)]="price" (ngModelChange)="priceOnChange()" (blur)="inputOnBlur()" [textMask]="{mask: currencyMask}" />
    <label for="input" class="Input-label">Purchase Price</label>
  </div>

  <div class="flex-input-wrapper">
    <div class="Input">
      <input type="tel" class="Input-text" placeholder="Down Payment" (keydown.enter)="$event.target.blur()"
        [(ngModel)]="downPayment" (ngModelChange)="downPaymentOnChange()" (blur)="inputOnBlur()"
        [textMask]="{mask: currencyMask}" />
      <label for="input" class="Input-label">Down Payment</label>
    </div>

    <div class="Input">
      <input type="tel" class="Input-text" placeholder="%" (keydown.enter)="$event.target.blur()"
        [(ngModel)]="downPaymentPercent" (ngModelChange)="downPaymentPercentOnChange()" (blur)="inputOnBlur()"
        [textMask]="{mask: percentageMask}" />
    </div>
  </div>

  <div class="Input">
    <input type="tel" class="Input-text" placeholder="Loan Terms" (keydown.enter)="$event.target.blur()"
      [(ngModel)]="loanTerm" (ngModelChange)="loanTermOnChange()" (blur)="inputOnBlur()"
      [textMask]="{mask: yearsMask}" />
    <label for="input" class="Input-label">Loan Terms</label>
  </div>

</ion-content>
